//  Just an image 
nav.navbar.navbar-light.bg-light
  a.navbar-brand(href="#")
    | Farm House

    img(src="/docs/4.1/assets/brand/bootstrap-solid.svg", width="30", height="30", alt)
    a.navbar-brand(href="/login")  
    script(src="../js/login.js")
