extends base 

block content
  

      form.formClass
      .form-outline.mb-4
        input#email.form-control(type="email")
        label.form-label(for="form2Example1") Email address
      .form-outline.mb-4
        input#password.form-control(type="password")
        label.form-label(for="form2Example2") Password
        button.btn.btn-primary.btn-block.mb-4(type="submit") Sign in
        script(src="/js/login.js") 
      